@page "/"

    <TestTitle Title="index.razor" headerOrFooter="h"></TestTitle>


    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />



    <TestTitle Title="index.razor" headerOrFooter="f"></TestTitle>
